@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #111;
  --bg-secondary: #1c1c1c;
  --text-primary: #fff;
}

.light {
  --bg-primary: #f3f4f6;
  --bg-secondary: #ffffff;
  --text-primary: #111827;
}

*{
  color: var(--text-primary);
}
body{
  background-color: var(--bg-primary);
}

#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}